.App{
  min-height: 100vh;
  background-color: #444;
}

a{
  text-decoration: none;
  color: var(--white);
}

li{
  list-style-type: none;
}

button{
  outline: none;
  border: none;
  color: var(--light-blue);
  outline: 2px solid var(--light-blue);
  padding: var(--btn-padding);
  border-radius: 10px;
  background-color: #333;
  cursor: pointer;
  filter: saturate(190%);
}

button:hover{
  background-color: #444;
}