.Loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: #444;
}

.Loading-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    color: var(--light-blue);
    font-size: 10em;
    animation-name: turn;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(75, 0.2, 165, 0);
}

@keyframes turn{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}