* {
  margin: 0;
  padding :0;
  box-sizing: border-box;
  font-family: monospace;
}

:root{
  --white: #fff;
  --alive-heart-color: #0f0;
  --dead-heart-color: #f00;
  --unknown-heart-color: #00f;
  --btn-padding: 8px;
  --light-blue: #4bf;
}
